:root {
  --silver-general: rgb(216, 216, 216);
  --silver-dark: rgb(90, 89, 89);
  --silver-text: rgb(133, 131, 131);
  --silver-light: rgb(236, 235, 235);
  --wihte-general: white;
  --wihte-general-shadow: rgba(255, 255, 255, 0.5);
  --blue-bugatti: rgb(47, 156, 245);
  --blue-bugatti-dark: rgb(36, 143, 231);
  --blue-bugatti-shadow: rgba(68, 166, 247, 0.6);
  --green-background: rgb(9, 160, 9);
  --green-background--ligth: rgb(157, 245, 157);
  --red-background--ligth: rgb(248, 158, 158);
  --red-background: red;
  --blue-background: rgb(109, 109, 233);
  --balck-background: rgba(0, 0, 0, 0.5);
}
html {
  scroll-behavior: smooth;
}
/* Login style */

.login-body {
  background: var(--blue-bugatti);
}
.login-main {
  height: 100vh;
}
.login-container,
.login-container__form,
.container-modal__form-box form,
.data-vehicle__form-container,
.vehicle_register__flex-box,
.parking-report__form,
.parking-report {
  flex-direction: column;
}

.login-container,
.login-container__form,
.data-vehicle__form-container,
.index-foter__container,
.vehicle_register__color-conventions,
.vehicle_register__conventions,
.vehicle_register__flex-box,
.vehicle_register__table-title,
.vehicle_register__button,
.container-modal,
.container-modal__title,
.container-modal__form-box form,
.container-modal__button,
.parking-report__form,
.parking-report,
.login-main,
.discount-section,
.container-loaded-discount,
.parking-report__report,
.data-vehicle__cont-message {
  display: flex;
}

.login-container {
  padding-top: 30px;
  max-width: 500px;
  min-width: 300px;
  height: 470px;
  border-radius: 30px;
  margin-left: 30px;
  margin-right: 30px;
  background: var(--wihte-general);
}

.login-container,
.vehicle-registry__title,
.vehicle-registry__begining,
.data-vehicle__title,
.vehicle-type,
.parking-report__message-api,
.index-foter__container,
.parking-register__form,
.parking-report__message-api,
.discount-table td,
.discount-table th {
  text-align: center;
}
.login-container__form {
  margin: 50px;
  width: 80%;
}
.login-container__input {
  font-size: 1.3em;
  width: 80%;
  height: 10px;
  padding: 20px 10px 20px 40px;
  border: none;
  border-bottom: 1px solid black;
}
.input-login--up {
  margin-bottom: 70px;
}
.login-container__box-icono {
  position: absolute;
}
.login-container__input-icono {
  left: 6px;
  top: 10px;
  font-size: 1.5em;
}
#btn-eye,
.login-container__input-icono {
  position: relative;
}

#btn-eye {
  left: 250px;
  top: 15px;
  font-size: 1em;
}

.index-foter__container,
.vehicle_register__color-conventions,
.container-modal__title {
  justify-content: space-between;
}
.input-login--down {
  margin-bottom: 100px;
}
.login-container__button-login {
  color: white;
  width: 85%;
  margin-top: -100px;
  height: 50px;
  border-radius: 8px;
  border: 2px solid var(--blue-bugatti);
  background: var(--blue-bugatti);
}
.login-container__button-login:hover {
  background: var(--blue-bugatti-dark);
}
.login-container__button-login:active {
  box-shadow: 0 0 0 5px var(--blue-bugatti-shadow);
}

.login-container__input:focus,
.data-vehicle__input:focus,
.data-vehicle__selcect:focus,
.parking-register__select:focus,
.container-modal__form-box form > select:focus,
.parking-report__input:focus,
.container-modal_input:focus {
  outline: none;
}
/* Index style */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 0;
  width: 100%;
}

.header-container__menu,
.header-container {
  background-color: var(--blue-bugatti);
}
.header-container__box-logo,
.data-vehicle__button {
  margin-left: 30px;
}

.header-container__logo,
.header-container__link,
.header-container__sublink,
.vehicle-registry__begining,
.vehicle_register__cells {
  text-decoration: none;
  color: var(--wihte-general);
}
.header-container__logo,
.data-vehicle__cont-message {
  font-size: 1.2rem;
}
.container-modal__form-box form > label,
.header-container__logo {
  font-weight: bold;
}
.header-container__menu,
.header-container__submenu {
  list-style: none;
}

.header-container__submenu,
.header-container__menu,
.container-modal__instruction {
  padding: 0;
  margin: 0;
}
.header-container__menu {
  width: 100%;
}
.header-container__button {
  background: none;
  color: var(--wihte-general);
  border: solid 1px var(--wihte-general);
  border-radius: 3px;
  padding: 5px;
  font-size: 1rem;
  margin-right: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.header-container__button:active {
  box-shadow: 0 0 0 5px var(--wihte-general-shadow);
}

.vehicle-registry__begining:hover,
.data-vehicle__button:hover,
.parking-register__button:hover,
.vehicle_register__btn-get-out:hover,
.vehicle_register__btn-get-parking:hover,
.container-modal__title button:hover,
.container-modal__btn:hover,
.parking-report__button:hover,
.discount-btn:hover {
  background: var(--blue-bugatti-dark);
}

.header-container__button,
.vehicle-registry__begining,
.data-vehicle__button,
.parking-register__button,
.vehicle_register__btn-get-out,
.vehicle_register__btn-get-parking,
.container-modal__title button,
.container-modal__btn,
.parking-report__button,
.login-container__button-login,
#btn-eye,
.discount-btn {
  cursor: pointer;
}

.vehicle-registry__begining:active,
.data-vehicle__button:active,
.parking-register__button:active,
.vehicle_register__btn-get-out:active,
.vehicle_register__btn-get-parking:active,
.container-modal__title button:active,
.container-modal__btn:active,
.parking-report__button:active,
.discount-btn:active {
  transform: translateY(5px);
}

.header-container__link,
.header-container__sublink {
  padding: 20px 30px;
  font-size: 1.2em;
}
.header-container__link,
.header-container__sublink,
.container-modal__instruction--active,
.vehicle-registry__begining,
.parking-report__loader,
.parking-report__loader--block {
  display: block;
}

.header-container__link:hover {
  background-color: var(--blue-bugatti-dark);
}
.header-container__sublink {
  padding-left: 50px;
}
.header-container__sublink:hover {
  text-decoration: underline;
}
.header-container__navbar {
  width: 100%;
  transition: margin-left 0.3s;
  position: absolute;
  left: -100%;
  top: 85px;
  transition: left 0.3s;
}

.header-container__navbar--active {
  left: 0;
}
.header-container__submenu {
  height: 0;
  overflow: hidden;
}
.header-container__submenu--active {
  height: 100%;
  overflow: visible;
}
.vehicle-registry {
  width: 100%;
  height: 500px;
  background: url(./parkin.jpg) no-repeat top center;
  background-size: cover;
}

.vehicle-registry__title {
  padding-top: 360px;
}

.vehicle-registry__title h1 {
  line-height: 1.5;
  font-size: 2rem;
  margin-left: 60px;
  color: var(--wihte-general);
}

.vehicle-registry__begining {
  margin: -30px auto;
  text-decoration: none;
  padding: 12px 10px;
  font-size: 1.5em;
}
.parking-report__button,
.vehicle-registry__begining,
.discount-btn {
  width: 100px;
}
.data-vehicle__button,
.vehicle-registry__begining,
.parking-register__button,
.vehicle_register__btn-get-out,
.vehicle_register__btn-get-parking,
.container-modal__title button,
.container-modal__btn,
.parking-report__button,
.discount-btn {
  border: none;
  background: var(--blue-bugatti);
  color: var(--wihte-general);
}
.data-vehicle__button,
.vehicle-registry__begining,
.parking-register__button,
.vehicle_register__cells,
.vehicle_register__btn-get-out,
.vehicle_register__btn-get-parking,
.container-modal__window,
.parking-report__input,
.parking-report__button,
.container-modal_input {
  border-radius: 10px;
}

.data-vehicle__button,
.parking-register__button {
  padding: 9px 10px;
  font-size: 1.2em;
}

.data-vehicle {
  margin-top: 100px;
}

.data-vehicle__title h1,
.vehicle-type h1 {
  font-size: 2em;
}
.data-vehicle__title h1,
.parking-register__form label,
.parking-register__select option,
.container-modal__title,
.container-modal__form-box form > label,
.container-modal__option,
.vehicle-type h1,
.parking-report__form label,
.container-modal_input {
  color: var(--silver-dark);
}

.data-vehicle__input,
.data-vehicle__selcect {
  width: 400px;
  margin: 20px;
  padding: 20px 20px;
  border: none;
  border-bottom: 2px solid var(--silver-general);
}
.data-vehicle__selcect--type-vehicle {
  width: 100%;
}
.data-vehicle__selcect-title,
.data-vehicle__input,
.data-vehicle__selcect,
.vehicle_register__btn-get-out,
.vehicle_register__btn-get-parking {
  font-size: 1.2em;
}
.data-vehicle__selcect-title,
.data-vehicle__input,
.data-vehicle__selcect,
.vehicle_register__color-conventions h3,
.vehicle_register__table-title h2,
.parking-report__input,
.container-modal__instruction,
.data-vehicle__cont-message {
  color: var(--silver-text);
}
.data-vehicle__cont-message {
  margin-top: -2rem;
  margin-left: 3.2rem;
}

.data-vehicle__form-container--select,
.data-vehicle__button--container {
  width: 480px;
}
.discount-table--margin-t {
  margin-top: 50px;
}
.data-vehicle__form-container--select,
.data-vehicle__button--container,
.parking-report__button {
  margin-top: 30px;
}

.data-vehicle__selcect-title {
  margin-left: 40px;
}

.data-vehicle__form-container,
.data-vehicle__form-container,
.vehicle_register__flex-box,
.container-modal,
.container-modal__title,
.container-modal__button,
.login-container,
.login-main,
.login-container__form,
.container-loaded-discount,
.parking-report {
  align-items: center;
}

.index-foter__container {
  font-size: 0.8em;
  margin: 200px auto 10px auto;
  width: 80%;
  border-top: solid 0.5px var(--silver-general);
}

.parking-register,
.vehicle_register__table-container,
.vehicle_register,
.vehicle-type {
  margin-top: 150px;
}

.parking-register__form form > label {
  font-size: 1.3em;
  font-weight: 600;
}
.parking-register__input {
  width: 70vw;
}
.parking-register__input {
  margin-bottom: 50px;
  margin-top: 20px;
}
.parking-register__input,
.parking-register__select,
.parking-report__input,
.container-modal_input {
  padding: 10px;
}
.parking-register__select {
  width: 71vw;
  margin-top: 20px;
  margin-bottom: 70px;
}
.parking-register__form div {
  text-align: start;
  width: 70vw;
  margin: auto;
}
.parking-register__button {
  margin-left: -10px;
}

.vehicle_register__conventions {
  justify-content: flex-end;
  margin-right: 80px;
}

.vehicle_register__box-color {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 15%;
}
.blue {
  background-color: var(--blue-background);
}
.red {
  background-color: var(--red-background);
}
.green {
  background-color: var(--green-background);
}

.vehicle_register__table-title,
.vehicle_register__button,
.container-modal,
.login-main,
.container-loaded-discount,
.parking-report__report,
.data-vehicle__cont-message {
  justify-content: center;
}
.parking-report__report,
.parking-report__message-api {
  margin-top: 50px;
}

.parking-report__loader {
  display: none;
}

.parking-report__loader--block {
  display: block;
}
.vehicle_register__table-title h2,
.vehicle_register__container-btn {
  width: 75vw;
}

.vehicle_register__cells {
  padding: 1rem;
  width: 12rem;
}
.vehicle_register__file {
  width: 75vw;
}

.vehicle_register__btn-get-out,
.vehicle_register__btn-get-parking {
  padding: 12px;
}
.vehicle_register__btn-get-out,
.vehicle_register__btn-get-parking,
.parking-report__input--select {
  margin-top: 40px;
}
.vehicle_register__btn-get-out {
  margin-right: 20px;
}
.container-modal,
.container-loaded-discount {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--balck-background);
  opacity: 0;
  visibility: hidden;
}

.container-modal--active,
.container-loaded-discount--actived {
  opacity: 1;
  visibility: visible;
}

.container-modal__title,
.container-modal__form-box {
  border-bottom: 1px solid var(--silver-general);
}
.container-modal__window {
  background-color: var(--wihte-general);
  padding: 10px 0;
  width: 600px;
  margin: 0 30px;
  transition: transform 1s;
  transform: translateY(-200%);
}
.container-modal__window--active {
  transform: translateY(0);
}
.container-modal__title {
  padding: 0 30px 10px;
  height: 50px;
}

.container-modal__title button {
  font-size: 1em;
  padding: 5px 8px;
  color: var(--wihte-general);
  border-radius: 5px;
}
.container-modal__title h3 {
  font-size: 1.5em;
}

.container-modal__form-box form {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.container-modal__form-box form > select {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0 20px;
}
.container-modal__form-box form > select,
.parking-report__input,
.container-modal_input {
  border: 1px solid var(--silver-general);
}
.container-modal_input--error-name {
  border: 1.5px solid var(--red-background);
}
.container-modal__instruction--active {
  color: var(--red-background);
}
.container-modal__instruction--none {
  display: none;
}
.container-modal__instruction-tittle-error {
  color: var(--red-background);
}

.container-modal__button {
  justify-content: flex-end;
  padding: 20px 0;
}
.container-modal__btn {
  border: none;
  border-radius: 8%;
  padding: 8px 10px;
}
.container-modal__btn--grys {
  margin-right: 10px;
  background-color: var(--silver-text);
}
.container-modal__btn--grys:hover {
  background-color: var(--silver-dark);
}
.container-modal__instruction {
  font-size: 0.7rem;
}

.vehicle-type--footer {
  margin-top: 65vh;
}
.parking-report--footer {
  margin-top: 47vh;
}

.parking-report__input {
  max-width: 500px;
  min-width: 250px;
}
.parking-report__input--select {
  max-width: 522px;
}
.parking-report__button {
  padding: 10px 5px;
}
.parking-report__form label,
.container-modal_input {
  margin: 10px 0;
}
.parking-report__form {
  width: 30vw;
}

.container-modal_input:nth-child(3) {
  margin-bottom: 40px;
}

.discount-btn {
  border-radius: 8px;
  padding: 5px;
}
.discount-section {
  display: flex;
  justify-content: center;
}
.discount-table {
  width: 80%;
  border-collapse: collapse;
}

.discount-table th {
  background-color: var(--blue-bugatti);
  color: var(--wihte-general);
}

.discount-table tr {
  margin-bottom: 30px;
}

.discount-table td,
.discount-table th {
  border: solid 1px var(--silver-dark);
}

.discount-table tbody tr:nth-child(even) {
  background-color: var(--silver-general);
}
.template-table__tr td:last-child {
  background-color: var(--wihte-general);
}

.tamplate-table__status {
  color: var(--wihte-general);
}

.template-table__tr td button:last-child {
  margin-left: 10px;
}
/* Utility styles */

.b-solid {
  border: solid 1px black;
  border-bottom: none;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}

.h-1 {
  height: 1rem;
}
.h-2 {
  height: 2rem;
}

.c-error {
  color: var(--red-background);
}

.c-succes {
  color: var(--silver-dark);
}
.c-error {
  color: var(--red-background);
}
.f-size {
  font-size: 1.3rem;
}
.f-wigth-7 {
  font-weight: 700;
}
.j-c-center {
  justify-content: center;
}
.j-c-between {
  justify-content: space-between;
}
.m-left-1 {
  margin-left: 1rem;
}
.m-right-1 {
  margin-right: 1rem;
}
.m-right {
  margin-right: 6rem;
}

.m-top-2 {
  margin-top: 2rem;
}
.m-top {
  margin-top: 4rem;
}
.m-top-negative {
  margin-top: -0.5rem;
}
.m-top-negative-3 {
  margin-top: -2rem;
}

/* Specific style */
.size-loader {
  width: 2rem;
  height: auto;
}

/* Media query */
@media screen and (min-width: 986px) {
  .vehicle-registry__title {
    padding-top: 80px;
    text-align: start;
  }
  .vehicle-registry__title h1 {
    font-size: 2.3rem;
    display: block;
    width: 300px;
  }

  .vehicle-registry__begining {
    margin: 50px 60px;
  }
}

@media screen and (min-width: 992px) {
  .header-container__button {
    display: none;
  }
  .header-container__navbar {
    position: static;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .header-container__navbar {
    width: auto;
    position: static;
    top: 0px;
    margin-right: 50px;
  }
  .header-container__box-logo {
    margin-left: 50px;
  }
  .header-container__menu,
  .header-container__menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-container__link:hover {
    background-color: var(--blue-bugatti);
    text-decoration: underline;
  }
  .header-container__submenu {
    background: var(--blue-bugatti-dark);
    position: absolute;
    top: 85px;
    overflow: visible;
    height: auto;
    opacity: 0;
    visibility: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .header-container__link {
    padding: 30px 30px;
  }
  .header-container__item:hover .header-container__submenu {
    opacity: 1;
    visibility: visible;
  }
  .data-vehicle__input {
    width: 300px;
  }

  .data-vehicle__form-container {
    display: block;
    width: 800px;
    margin-left: 100px;
  }
  .data-vehicle__form {
    display: flex;
    justify-content: center;
  }

  .vehicle_register__table-title h2,
  .vehicle_register__container-btn {
    width: 90vw;
  }
}
@media screen and (min-width: 1200px) {
  .vehicle-registry {
    background: url(./parkin.jpg) no-repeat top center/cover;
    height: 45vw;
  }

  .vehicle-registry__title h1 {
    font-size: 3.5vw;
  }
  .data-vehicle__form-container {
    display: block;
    width: 70vw;
    padding-left: 50px;
  }
}
